# Archivos de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Base de datos local
*.sqlite3
*.db

# Entornos virtuales
venv/
env/
.venv/

# Variables de entorno
*.env

# Archivos de Django
*.log
staticfiles/
media/

# Archivos de migraciones compiladas
*/migrations/__pycache__/
*/migrations/*.pyc

# Archivos de IDEs
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db
